<nav class="nav-bar">
  <ul>
    <li>
      <a href="index.html" class="is-active">Dashboard</a>
    </li>
    <li>
      <a href="to_read.html">To read next</a>
    </li>
    <li>
      <a href="to_buy.html">To buy</a>
    </li>
    <li>
      <a href="#">Search</a>
    </li>
    <li>
      <a href="last_read.html">History</a>
    </li>
    <!--
    <li>
      <a href="#">Add book</a>
    </li>
    -->
  </ul>

  <p>group by</p>
  <ul>
    <li>
      <a href="by_author.html">author</a>
    </li>
    <li>
      <a href="by_year.html">year</a>
    </li>
  </ul>
</nav>
