<nav class="nav-bar">
  <ul>
    <li>
      <a href="index.html" class="is-active">Shelves</a>
    </li>
    <li>
      <a href="to_read.html">Next to read</a>
    </li>
    <li>
      <a href="last_read.html">Last read</a>
    </li>
    <li>
      <a href="to_buy.html">To buy</a>
    </li>
    <li>
      <a href="#">Search</a>
    </li>
    <li>
      <a href="#">Add book</a>
    </li>
  </ul>

  <h3>Group by:</h3>

  <ul>
    <li>
      <a href="by_author.html">Author</a>
    </li>
    <li>
      <a href="by_year.html">By year</a>
    </li>
  </ul>
</nav>
