body {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

a,
a:link,
a:visited,
a:active {
  color: blue;
  text-decoration: underline;
}

a:not([href]) {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a {
  display: inline-block;
  border-right: 1px solid gray;
  padding-right: 15px;
  padding-left: 15px;
}

header a:last-of-type {
  border: none;
}

article h1 span {
  font-size: 0.7em;
  font-weight: normal;
  color: gray;
}

.biography {
  font-size: 1em;
  line-height: 1.5em;
}

.biography img {
  width: 180px;
  height: 233px;
}

@media (max-width: 768px) {
  .biography img {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .biography {
    max-width: 600px;
  }

  .biography img {
    float: right;
    margin-left: 30px;
  }

  /* clearfix */
  .biography {
    overflow: auto;
    zoom: 1;
  }
}

/* reference sizes */
@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}

@media (min-width: 1200px) {}
